{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'static1/styles.css' %}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <p> welcom to logout </p>
        <h1> Miss Nachoua </h1>
        <div class="globalHandler">
        <div class="handler" id="bodyTop">
            <div class="content ">
                <div class="autoship-landing">
                    <section id="" class="section1">
                        <div class="autoship-logo">
                            <div class="autoship-logo--icon"> <span class="autoship-logo--image"> </span> </div>
                            <div class="autoship-logo--text">
                                <p class="big-text"><b>Autoship</b> </p><p class="order">Order</p> <p></p>
                            </div>
                        </div>
                        <div class="flex-row">
                            <div class="autoship-landing-text">
                                <h1 class="info-title">Receive your orders automatically at the desired frequency</h1>
                                <p class="info-subtitle">In Miscota we want you to enjoy life with your pet. Therefore
                                    we make it easy: we have created the Autoship service. With Autoship you can receive
                                    your orders automatically and without complications with the best price guaranteed.
                                    You choose when, how and what to receive so you can forget about buying those
                                    products you need on a regular basis.</p>
                            </div>
                            <div class="autoship-landing-text right-col">
                                <p class="info-title">Premium advantages:</p>
                                <ul class="autoship-landing-list">
                                    <div class="iconnn">
                                    <li> <img src="/static/static1/c.svg"><span class="big-list-item">Faster deliveries. All scheduled purchases are
                                            prioritized in our logistics process.</span>  </li> 
                                    <li> <img src="/static/static1/c.svg"><span class="big-list-item">Up to 20% additional discount every time</span>
                                    </li> 
                                    <li> <img src="/static/static1/c.svg"><span class="big-list-item">Without any commitment. You can cancel or pause at
                                            any time.</span> </li> 
                                </div></ul>
                                 </div>
                            </div>
                       
                        
                    </section>
                    <section id="" class="section2">
                        <div class="autoship-landing-text title2">
                            <p class="info-title">Activating your Autoship is very easy</p>
                        </div>
                        <div class="flex-row how-steps">
                            <div class="how-step">
                                <div class="step-image"></div>
                                <p>Select the products you need and add them to the cart as in any order.</p>
                            </div>
                            <div class="how-step">
                                <div class="step-image"></div>
                                <p>Select the products you need and add them to your shopping cart as you would with any
                                    other order.</p>
                            </div>
                            <div class="how-step">
                                <div class="step-image"></div>
                                <p>Start receiving your order automatically! Remember that you can pause, cancel or
                                    modify at any time.</p>
                            </div>
                        </div>
                    </section>
                    <section id="" class="section3">
                        <div class="autoship-landing-text">
                            <p class="info-title">Discover the Premium brands of Autoship to save even more!</p>
                        </div> <a href="#" class="autoship-landing-button button-light coral">
                            <div class="button-wrapper">
                                <p class="button-text">See products</p>
                            </div>
                        </a>
                        <div class="top-brands content-wrapper flex-column">
                            <div class="top-brands-wrapper"> <a class="brand-image brand-acana" href="#" title="Acana"></a> <a class="brand-image brand-eukanuba" href="#" title="Eukanuba"></a> <a class="brand-image brand-orijen" href="#" title="Orijen"></a> <a class="brand-image brand-royal-canin" href="#" title="Royal Canin"></a> <a class="brand-image brand-taste-of-the-wild" href="#" title="Taste of the Wild"></a>
                            </div>
                        </div>
                    </section>
                    <!--
                    <section id="" class="section4">
                        <div class="autoship-landing-text">
                            <p class="info-title">Frequently asked questions</p>
                        </div>
                        <div id="featured-desc" class="featured-desc custom-box expandable-box is-open"
                            data-toggle="expandable-box">
                            <div class="custom-box--invisible-trigger expandable-box--trigger"></div>
                            <div class="custom-box--header expandable-box--trigger">
                                <div class="custom-box--header-content">
                                    <h2 class="custom-box--title"><span>What happens if I am not at home when the
                                            Autoship is delivered?</span></h2>
                                </div>
                                <div class="custom-box--header-actions"> <button
                                        class="custom-box--toggle-button expandable-box--trigger"
                                        type="button"></button> </div>
                            </div>
                            <div class="custom-box--content">
                                <div class="custom-box--content-wrapper">
                                    <div class="custom-box--content-products">
                                        <div class="flex-row">
                                            <div class="flex-column autoship-landing-hidden-text">
                                                <p>Don't worry, before your order leaves our warehouse we will inform
                                                    you by email of the products included and the amount we will charge,
                                                    giving you the option to cancel if you wish.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="custom-box--footer-actions"> <button
                                    class="button-ghost expandable-box--trigger" type="button">
                                    <div class="button-wrapper justify-fs">
                                        <p class="button-text" data-text-more="See all" data-text-less="View less"></p>
                                        <span class="icon" data-icon-down="g" data-icon-up="="></span>
                                    </div>
                                </button> </div>
                        </div>
                        <div id="featured-desc" class="featured-desc custom-box expandable-box"
                            data-toggle="expandable-box">
                            <div class="custom-box--invisible-trigger expandable-box--trigger"></div>
                            <div class="custom-box--header expandable-box--trigger">
                                <div class="custom-box--header-content">
                                    <h2 class="custom-box--title"><span>How do I add products to an existing
                                            Autoship?</span></h2>
                                </div>
                                <div class="custom-box--header-actions"> <button
                                        class="custom-box--toggle-button expandable-box--trigger"
                                        type="button"></button> </div>
                            </div>
                            <div class="custom-box--content">
                                <div class="custom-box--content-wrapper">
                                    <div class="custom-box--content-products">
                                        <div class="flex-row">
                                            <div class="flex-column autoship-landing-hidden-text">
                                                <p>In the tab of the product you want to receive automatically, click on
                                                    "Add to my Autoship", select which of your Autoship you want to add
                                                    it to (if you have more than one active one) and that's it!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="custom-box--footer-actions"> <button
                                    class="button-ghost expandable-box--trigger" type="button">
                                    <div class="button-wrapper justify-fs">
                                        <p class="button-text" data-text-more="See all" data-text-less="View less"></p>
                                        <span class="icon" data-icon-down="g" data-icon-up="="></span>
                                    </div>
                                </button> </div>
                        </div>
                        <div id="featured-desc" class="featured-desc custom-box expandable-box"
                            data-toggle="expandable-box">
                            <div class="custom-box--invisible-trigger expandable-box--trigger"></div>
                            <div class="custom-box--header expandable-box--trigger">
                                <div class="custom-box--header-content">
                                    <h2 class="custom-box--title"><span>What does it mean that my Autoship is
                                            "pending"?</span></h2>
                                </div>
                                <div class="custom-box--header-actions"> <button
                                        class="custom-box--toggle-button expandable-box--trigger"
                                        type="button"></button> </div>
                            </div>
                            <div class="custom-box--content">
                                <div class="custom-box--content-wrapper">
                                    <div class="custom-box--content-products">
                                        <div class="flex-row">
                                            <div class="flex-column autoship-landing-hidden-text">
                                                <p>This means that you will soon have it in your hands! If your Autoship
                                                    appears in the control panel as "pending" it means that we are
                                                    preparing it to be sent to you. While it is "pending" you will not
                                                    be able to make any changes.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="custom-box--footer-actions"> <button
                                    class="button-ghost expandable-box--trigger" type="button">
                                    <div class="button-wrapper justify-fs">
                                        <p class="button-text" data-text-more="See all" data-text-less="View less"></p>
                                        <span class="icon" data-icon-down="g" data-icon-up="="></span>
                                    </div>
                                </button> </div>
                        </div>
                        <div id="featured-desc" class="featured-desc custom-box expandable-box"
                            data-toggle="expandable-box">
                            <div class="custom-box--invisible-trigger expandable-box--trigger"></div>
                            <div class="custom-box--header expandable-box--trigger">
                                <div class="custom-box--header-content">
                                    <h2 class="custom-box--title"><span>Can I modify my Autoship data?</span></h2>
                                </div>
                                <div class="custom-box--header-actions"> <button
                                        class="custom-box--toggle-button expandable-box--trigger"
                                        type="button"></button> </div>
                            </div>
                            <div class="custom-box--content">
                                <div class="custom-box--content-wrapper">
                                    <div class="custom-box--content-products">
                                        <div class="flex-row">
                                            <div class="flex-column autoship-landing-hidden-text">
                                                <p>You can change the delivery week, frequency and delivery address.
                                                    Just go to "My Scheduled Orders" and click on the configuration icon
                                                    of the Scheduled Order you wish to edit. Remember that you will not
                                                    be able to make any changes if the status of your order is
                                                    "pending".</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="custom-box--footer-actions"> <button
                                    class="button-ghost expandable-box--trigger" type="button">
                                    <div class="button-wrapper justify-fs">
                                        <p class="button-text" data-text-more="See all" data-text-less="View less"></p>
                                        <span class="icon" data-icon-down="g" data-icon-up="="></span>
                                    </div>
                                </button> </div>
                        </div>
                        <div id="featured-desc" class="featured-desc custom-box expandable-box"
                            data-toggle="expandable-box">
                            <div class="custom-box--invisible-trigger expandable-box--trigger"></div>
                            <div class="custom-box--header expandable-box--trigger">
                                <div class="custom-box--header-content">
                                    <h2 class="custom-box--title"><span>I don't want to receive any more products
                                            automatically, can I delete my Autoship Order?</span></h2>
                                </div>
                                <div class="custom-box--header-actions"> <button
                                        class="custom-box--toggle-button expandable-box--trigger"
                                        type="button"></button> </div>
                            </div>
                            <div class="custom-box--content">
                                <div class="custom-box--content-wrapper">
                                    <div class="custom-box--content-products">
                                        <div class="flex-row">
                                            <div class="flex-column autoship-landing-hidden-text">
                                                <p>Log in to your account and go to the "My Scheduled Orders" section.
                                                    Select the Scheduled Order you wish to stop receiving and click on
                                                    the "pause" button. We will save all the information so you can
                                                    easily reactivate it if you want to receive it again.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="custom-box--footer-actions"> <button
                                    class="button-ghost expandable-box--trigger" type="button">
                                    <div class="button-wrapper justify-fs">
                                        <p class="button-text" data-text-more="See all" data-text-less="View less"></p>
                                        <span class="icon" data-icon-down="g" data-icon-up="="></span>
                                    </div>
                                </button> </div>
                        </div>
                    </section> 
                    -->
                    <!-- test html panel -->
    <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
        <div class="container">
        
            <h2>Autoship Frequently Asked Questions </h2>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                  <h3 class="panel-title">
                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                        What is Autoship?
                    </a> 
                  </h3>
                </div>
                <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                  <div class="panel-body px-3 mb-4">
                    <p>Autoship lets you schedule regular deliveries of your pet supplies, so you never run out of pet food or other essentials like potty pads and treats ever again.</p>
                   <!-- <ul>
                      <li>Light speed deployment on the most secure and stable cloud infrastructure available on the market.</li>
                      <li>Scalability – pay for what you need today and add-on options as you grow.</li>
                      <li>All of the bells and whistles of other enterprise CMS options but without the design limitations - this CMS simply lets you realize your creative visions.</li>
                      <li>Amazing support backed by a team of Solodev pros – here when you need them.</li>
                    </ul>-->
                  </div>
                </div>
              </div>
              <!-- newp panel -->
              <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                  <h3 class="panel-title">
                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                        How do I set up an Autoship so I can receive a recurring delivery?
                    </a> 
                  </h3>
                </div>
                <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                  <div class="panel-body px-3 mb-4">
                    <p>Just add your favorite items to your cart, proceed to checkout, select “Yes” to Autoship at checkout, and set your schedule.</p>
                    
                  </div>
                </div>
              </div>
              <!-- new panel-->
              <!-- newp panel -->
              <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                  <h3 class="panel-title">
                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                        What are the benefits of Autoship?
                    </a> 
                  </h3>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                  <div class="panel-body px-3 mb-4">
                    <p>After your first Autoship discount, you’ll save an extra 5-10% on select brands for all future Autoship orders.</p>
                    
                  </div>
                </div>
              </div>
              <!-- new panel-->
              <!-- newp panel -->
              <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                  <h3 class="panel-title">
                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                        Is there a membership fee?
                    </a> 
                  </h3>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                  <div class="panel-body px-3 mb-4">
                    <p>There’s no membership fee, and you can cancel at any time.</p>
                  
                  </div>
                </div>
              </div>
              <!-- new panel-->
              
              <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading4">
                  <h3 class="panel-title">
                      
                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                        Can I order prescription medications with Autoship?
                    </a> 
                  
                  </h3>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                  <div class="panel-body px-3 mb-4">
                    <p>Yes–if you have a valid prescription or remaining refills on file, you can set up an Autoship for your pet’s prescription medications.</p>
                  </div>
                </div>
              </div>
              
              <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading5">
                  <h3 class="panel-title">
                    
                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
                        How will I know when my Autoship is on its way?
                    </a>
                    
                  </h3>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                  <div class="panel-body px-3 mb-4">
                    <p>We’ll send an email to remind you of your upcoming Autoship orders as well as when your Autoship order ships.</p>
                  </div>
                </div>
              </div>
              
               <!-- newp panel -->
               <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading6">
                  <h3 class="panel-title">
                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6">
                        How can I change my shipping date or delay my Autoship?
                    </a> 
                  </h3>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                  <div class="panel-body px-3 mb-4">
                    <p>Go to Manage Autoship, select the Autoship you need to reschedule, click the “Change” link in the Next Shipment section on your computer or the “Change Date” button on your mobile device, and select your preferred shipment date. You can change your shipping date up to 24 hours before your next scheduled shipment.</p>
                  
                  </div>
                </div>
              </div>
              <!-- new panel-->
               <!-- newp panel -->
               <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading7">
                  <h3 class="panel-title">
                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapse7">
                        How can I add or remove items in my Autoship?
                    </a> 
                  </h3>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                  <div class="panel-body px-3 mb-4">
                    <p>For a single Autoship: go to Manage Autoship and click your current card to see all available payment methods or add a new one.

                        For multiple Autoships: go to your Payment Methods, edit an existing card or add a new one, and check the “Update your active Autoships to use this credit card” checkbox.</p>
                  
                  </div>
                </div>
              </div>
              <!-- new panel-->
               <!-- newp panel -->
               <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading8">
                  <h3 class="panel-title">
                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapse8">
                        When will my credit card be charged?
                    </a> 
                  </h3>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                  <div class="panel-body px-3 mb-4">
                    <p>Your credit card will be charged automatically on the date the order is shipped. You may see a pending charge on your credit card as soon as we begin to prepare your order, which could be as early as 24 hours ahead of your scheduled ship date. There’s no need to call or update anything online.</p>
                  
                  </div>
                </div>
              </div>
              <!-- new panel-->
               <!-- newp panel -->
               <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading9">
                  <h3 class="panel-title">
                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="true" aria-controls="collapse9">
                        How can I change my shipping address?
                    </a> 
                  </h3>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                  <div class="panel-body px-3 mb-4">
                    <p>For a single Autoship: go to Manage Autoship and click your current address to see all available addresses or add a new one.

                        For multiple Autoships: go to your Addresses, edit an existing address or add a new one, and check the “Update your active Autoships to use this address” checkbox.</p>
                  
                  </div>
                </div>
              </div>
              <!-- new panel-->
              
              <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading10">
                  <h3 class="panel-title">
                    
                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="true" aria-controls="collapse10">
                        How can I change my shipping address?
                    </a> 
                  </h3>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                  <div class="panel-body px-3 mb-4">
                    <p>Go to Manage Autoship, select your Autoship, and click the “Cancel This Autoship” button at the bottom of the page.</p>
                  </div>
                </div>
              </div>
            </div>
            
        
        </div>
      </section>
                    <div class="autoship-landing-text title3">
                        <p>Do you have any further questions? You can contact us at <a href="#">Contact form.</a> </p>
                    </div>
                </div>
            </div>
        </div>

    </div>       >
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>


