{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static '/staticc/styles.css' %}">
    </head>
    <body>
        <div class="projects">
            {% for project  in projects %}
            <div class="project">
                <p class="title">{{project.title}}</p>
                <p>{{project.firstname}}</p>
                <p>{{project.lastname}}</p>
                <p>{{project.phone_number}}</p>
                <p class="date">{{project.date}}</p>
                <div class="image">
                    <img class="img" src="{{project.thumb.url}}"/>
                </div>
            </div>
            {% endfor %} 
        </div>  
       <p>Be Patient </p>
    </body>
</html>
